{% extends "base.html" %}

{% block content %}

  <h1 >
      Entrez votre texte ici à évaluer ici

  </h1>
  <br>
  <a href="http://127.0.0.1:5000/trainingResults">Entrainer mon modèle</a>
  <form action = "/result" method = "POST">
    <textarea type = "text" placeholder="Entrez votre texte ici" name = "input_text" rows="5" cols="33" />
    </textarea>
    
    <p><input type = "submit" value = "submit" /></p>
  </form>
  {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
  {% endif %}
  
  {% endblock %}
    
    


  </body>
</html>
